<mat-form-field>
  <input matInput
         [matDatepicker]="picker"
         [formControl]="control"
         [value]="value"
         (change)="setValue($event)"
         (keyup)="setValue($event)"
         [placeholder]="placeholder"
         autocomplete="off"
         required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error>
    <span class="error-message">{{control | formControlErrorMessagePipe}}</span>
  </mat-error>
</mat-form-field>
