<section class="wrapper">
  <h1 class="title mb-16">Форма</h1>
  <p class="subtitle mb-32">Заполните форму и мы ее проверим</p>

  <form class="grid-noGutter-spaceBetween" [formGroup]="userForm" (submit)="onSubmit()">
    <div class="col-12 mb-16">
      <custom-input formControlName="name"
                    [control]="userForm.get('name')"
                    [placeholder]="'Укажите ФИО'">
      </custom-input>
    </div>
    <div class="col-6 mb-16">
      <custom-radio formControlName="gender"
                    [control]="userForm.get('gender')"
                    [items]="genderItems"
                    [placeholder]="'Пол *'">
      </custom-radio>
    </div>
    <div class="col-6 mb-16">
      <custom-datepicker formControlName="birthday"
                    [control]="userForm.get('birthday')"
                    [placeholder]="'День рождения'">
      </custom-datepicker>
    </div>
<!--    <div class="col-12 mb-16" [hidden]="!isMoreEighteenAge">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Семейное положение</mat-label>-->
<!--        <mat-select formControlName="family" required>-->
<!--          <mat-option *ngFor="let item of familyStatuses" [value]="item.value">{{item.title}}</mat-option>-->
<!--        </mat-select>-->
<!--        <mat-error>-->
<!--          <span class="error-message">{{userForm.get('family') | formControlErrorMessagePipe}}</span>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <div class="col-5 mb-16">-->
<!--      <mat-form-field>-->
<!--        <input matInput type="number" formControlName="children" placeholder="Количество детей">-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <div class="col-6 mb-16">-->
<!--      <mat-form-field>-->
<!--        <input matInput type="email" placeholder="Электронная почта" value="Sushi">-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <div class="col-12 mb-16">-->
<!--      <mat-form-field>-->
<!--        <textarea matInput placeholder="Комментарии" value="Sushi"></textarea>-->
<!--      </mat-form-field>-->
<!--    </div>-->
    <div class="col-6">
<!--      <button mat-stroked-button [style.width.%]="100">Сохранить</button>-->
    </div>
  </form>
</section>
